  <header id="header" >
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="{{url_for('index')}}">IT BOOK</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{{url_for('index')}}">Trang Chủ</a></li>
          <li><a href="{{url_for('books_list')}}">Sách Mới</a></li>
          <li class="drop-down"><a href="">Sách Trong Nước</a>
            <ul>
              <li><a href="#">Tự Truyện - Hồi Ký</a></li>
              <li><a href="#">Thơ Ca</a></li>
              <li><a href="#">Truyện Dài</a></li>
              <li><a href="#">Truyện Kiếm Hiệp</a></li>
              <li><a href="#">Truyện Thiếu Nhi</a></li>
            </ul>
          </li>
            <li class="drop-down" ><a href="">Sách Nước Ngoài</a>
            <ul>
              <li><a href="#">Cổ Tích & Thần Thoại</a></li>
              <li><a href="#">Thơ Ca</a></li>
              <li><a href="#">Truyện Viễn Tưởng</a></li>
              <li><a href="#">Tiểu Thuyết Ngôn Tình</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        <form action="" method="post" class="form-inline d-md-flex px-4">
          <input class="form-control" type="text" name="text"><input  class="form-control " type="submit" value="Tìm Kiếm">
        </form>
        </ul>

      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->